body {
  background-color: Lavender;  
}
 
h1 {
    color: Black;
  }

.series {
  font-size: 26px;
  background-color: LavenderBlush;
  border-radius: 15px;
  border: 2px solid ;
  margin: 100px;
  padding: 20px;
  width: 300px;
}
